@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto';
    background-color: rgb(234, 234, 234);
    width: 1024px;
    margin: auto;
}

a {
    color: black;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: "Roboto";
}



#map {
    width: 1024px;
    height: 800px;
    border: 1px solid gray;
}

.aws-div-icon span{
    font-size:1.25em;
    font-weight:bold;
    padding:0.3em;
    border:1px solid silver;
    text-shadow:
    -1px -1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    1px 1px 0 white,
}



/*Bild unter header*/
header>img {
    max-width: 100%;
    height: auto;
}


main {
    
    margin: auto;
    margin-top: 40px;
}


article p {
    font-family: 'Roboto';
    text-align: justify;
    line-height: 1.5em;
}

.shadow {
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.2);

}
  /* Impressum */  
  .inline-list li {
    display: inline-block;
    margin-right: 30px;
    font-family: "Roboto";
    font-size: smaller;
  }
  

/* Stile für das Menüband */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

nav ul li:hover>a {
    background-color: #555;
}

  /* Dropdown-Menüs */
  nav ul li ul {
    display: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 3px;
    bottom: -240%;
  }
  
  nav ul li:hover > ul {
    display: inherit;
    top: auto;
  }
  
  nav ul li ul li {
    display: block;
  }
  
  nav ul li ul li a:hover {
    background-color: #555;
  }